# Virtual Environment
venv/
.venv/
env/
ENV/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# Log files
*.log

# IDE specific
.vscode/
.idea/

# OS specific
.DS_Store
Thumbs.db
Data/
Data/
